body {
	margin: 0;
	text-align: center;
	font-family: sans-serif; /*temporary*/
}


.ba-header {
	color: white;
	background-color: rgba(35,35,46);
	height: 300px;
}

.main, .ba-footer {
	background-color: #fff;
	color: rgb(35,35,46);
}

.main {
	/*width: 50%;*/
}

main>p {
	margin-left: 25%;
	margin-right: 25%;
}

ul {
	list-style-type: none;
	display: flex;
	text-align: left;
	font-size: 0.6em;
	padding-left: 23%;
    padding-right: 23%;
}	






a.button31 {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 3em;
  height: 3em;
  border-radius: 100%;
  outline: none;
  background: #ddd;
  box-shadow: 0 1px rgba(35,35,46,.1) inset, 0 1px #fff;
}
a.button31:after, a.button31:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 7.5%;
  left: -15%;
  right: 0;
  bottom: 0;
  width: 30%;
  height: 10%;
  margin: auto;
  background: #999;
  box-shadow: 0 1px rgba(0,0,0,.1) inset, 0 1px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
a.button31:before {
  left: 15%;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}
a.button31:hover, a.button31:focus {
  background: #e35d31;
  box-shadow: none;
}
a.button31:hover:after, a.button31:hover:before {
  background: #fff;
  box-shadow: none;
}
a.button31:focus {
  background-image:
   linear-gradient(120deg, transparent 45%, #e35d31 45%, #e35d31 55%, transparent 55%),
   radial-gradient(transparent 20%, #fff 20%, #fff 30%, transparent 30%);
  -webkit-animation: rotate31 1s linear infinite forwards;
  animation: rotate31 1s linear infinite forwards;
}
a.button31:focus:after, a.button31:focus:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: calc(-30% - 4px/2);
  left: 4px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 8px solid #fff;
  border-bottom: 4px solid transparent;
  background: transparent;
  box-shadow: none;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
a.button31:focus:before {
  top: calc(30% + 4px/2);
  left: -4px;
  border-left: none;
  border-right: 8px solid #fff;
}
@-webkit-keyframes rotate31 {
  100% {-webkit-transform: rotate(360deg);}